In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Importing the Dataset
df = pd.read_csv("dataset.csv")
df.head(3)

,identifierHash,type,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,...,civilityTitle,hasAnyApp,hasAndroidApp,hasIosApp,hasProfilePicture,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears,countryCode
0,-7279641312655250028,user,Etats-Unis,en,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,us
1,-1456013578740053406,user,Allemagne,de,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,de
2,9006282053848196165,user,Suède,en,3,8,0,0,0,0.0,...,mr,True,False,True,True,689,3205,106.83,8.9,se

In [4]:
df.dtypes

identifierHash           int64
type                    object
country                 object
language                object
socialNbFollowers        int64
socialNbFollows          int64
socialProductsLiked      int64
productsListed           int64
productsSold             int64
productsPassRate       float64
productsWished           int64
productsBought           int64
gender                  object
civilityGenderId         int64
civilityTitle           object
hasAnyApp                 bool
hasAndroidApp             bool
hasIosApp                 bool
hasProfilePicture         bool
daysSinceLastLogin       int64
seniority                int64
seniorityAsMonths      float64
seniorityAsYears       float64
countryCode             object
dtype: object

In [12]:
# Create DF with required cols
df_1 = df[["hasProfilePicture","country","language","gender","hasAndroidApp","hasIosApp","daysSinceLastLogin","productsListed","productsSold","productsPassRate","productsWished","productsBought","socialProductsLiked","socialNbFollowers","socialNbFollows" ]]

In [16]:
# Check Profile Pic value counts
(df_1["hasProfilePicture"]).value_counts()

True     97018
False     1895
Name: hasProfilePicture, dtype: int64

In [18]:
# Dropping profile pic, as its one sided
df = df_1.drop(columns="hasProfilePicture")
df.head(2)

,country,language,gender,hasAndroidApp,hasIosApp,daysSinceLastLogin,productsListed,productsSold,productsPassRate,productsWished,productsBought,socialProductsLiked,socialNbFollowers,socialNbFollows
0,Etats-Unis,en,F,False,False,709,0,0,0.0,0,0,0,3,8
1,Allemagne,de,F,False,False,709,0,0,0.0,0,0,0,3,8

In [35]:
# Create Active Users Filter, based on IF: product sold or bought, 
df_active = df.loc[(df["productsListed"] !=0)|(df["productsSold"] !=0)|(df["productsWished"]!=0)|(df["productsBought"]!=0)|(df["socialProductsLiked"]!=0)|(df["socialNbFollows"]>8)]

In [34]:
# Checking for above, the threshold of Follows.
(df["socialNbFollows"]<8).value_counts()

False    98774
True       139
Name: socialNbFollows, dtype: int64

In [42]:
# Assigining new column based on APP Type as "OS"
df = df.assign(OS=np.where((df["hasAndroidApp"]&df["hasIosApp"]==True),"Both Apps",(np.where((df["hasAndroidApp"]==True),"Android",(np.where((df["hasIosApp"]==True),"iOS","Browser"))))))

In [44]:
# Checking Values for OS Types
df["OS"].value_counts()

Browser      72739
iOS          21355
Android       4647
Both Apps      172
Name: OS, dtype: int64

In [45]:
# Rerun Active Users with new included OS
df_active = df.loc[(df["productsListed"] !=0)|(df["productsSold"] !=0)|(df["productsWished"]!=0)|(df["productsBought"]!=0)|(df["socialProductsLiked"]!=0)|(df["socialNbFollows"]>8)]

In [46]:
# Checking values for active OS Types
df_active["OS"].value_counts()

Browser      12047
iOS           8638
Android       1469
Both Apps      134
Name: OS, dtype: int64

In [47]:
# Creating CSV to check in Tableau for any differences compared to previous ALL Dataframe
df_active.to_csv("active_users_brian.csv")

In [48]:
# Creating counter check DF with different Criteria
df_active_julien = df.loc[((df['socialProductsLiked'] !=0) | (df['productsListed'] !=0)) | (df['productsBought'] !=0) | (df['productsSold'] !=0) | (df["productsWished"] != 0)]

In [49]:
df_active_julien.to_csv("active_users_julien.csv")